@import '../../styles/_variables.scss';

.toggle-button{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 17px;
	width: 20px;
	border: none;
	background: $backgroundColor;
	cursor: pointer;
	padding: 0;

	&:focus{
		outline: none;
	}

	&__line{
		width: 20px;
		height: 3px;
		background: $secondary;
	}
}