@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

.list{
	padding: 0 30px;

	@include xl{
		&{
			
		}

		&__users{
			display: grid;
			grid-template-columns: 200px 200px 200px;
			justify-content: space-around;
		}
	}

	@include desktop{
		&__users{
			display: grid;
			grid-template-columns: 200px 200px 200px;
			justify-content: space-around;
		}
	}

	@include tablet{
		&__users{
			display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
		}
	}

	@include mobile{
		&{
			
		}

		&__users{
			display: grid;
			grid-template-rows: auto;
			justify-content: space-around;
		}
	}
	
}