@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

.user{
	width: 200px;
	margin-bottom: 60px;
	word-break: break-word;

	img{
		border-radius: 50%;
		width: 70px;
		height: 70px;
	}

	&__name{
		margin-top: 20px;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 25px;
		margin-bottom: 21px;
	}

	&>span{
		display: block;
		color: #4c4b4b;
	}

	&__position{
		margin-bottom: 12px;
		word-wrap: break-word;
	}

	&__email{
		margin-bottom: 12px;
	}

	&__tooltip{
		&_text{
			display: none;
		}
		position: relative;
	}

	&__tooltip:hover{
		cursor: pointer;
	}

	&__tooltip:hover &__tooltip_text{
			color: white;
			background: black;
			border-radius: 3px;
			position: absolute;
			top: 50px;
			left: 0;
			padding: 3px;
			display: inline-block;
	}

	@include xl{
		&{
			
		}
	}

	@include desktop{
	
	}

	@include tablet{
		
	}

	@include mobile{
		&{
			margin-bottom: 40px;
		}

		&>span{
			font-size: 16px;
		}

		&__name{
			margin-bottom: 10px;
		}
	}
}