$primary: #ef5b4c;
$hoverPrimary: #d24335;
$disabled: #d7d7d7;
$secondary: #007bff;
$backgroundColor: #fff;
$backgroundColor2: #f9f9f3;
$black: black;

$lightblue: #80bdff;
$lightred: #db3445;

$mobileHambBackg: #1b4a8a;
$gray: #b2b9c0;

$maxWidth: 1170px;