@import '~reset-css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	box-sizing: border-box;
}

/* css */
html {
    scroll-behavior: smooth;
}

body, html, #root, .wrapper{

	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
}