@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

.nav{
	display: flex;
	.active{
		color: $secondary;
	}

	a{
		text-decoration: none;
		color: black;

		&:hover{
			color: $primary;
		}
	}
	
	.spacer{
		flex: 1;
	}

	@include xl{
		.nav__drawer-button{
			display: none;
		}

		&{
			font-size: 14px;
			line-height: 65px;
		}

		.nav__items{
		ul{
				display: flex;
				justify-content: space-between;
				li{
					padding-left: 28.5px;
				}
			}
		}
	}

	@include desktop{
		&{
			font-size: 14px;
			line-height: 65px;
		}

		.nav__items{
		ul{
				display: flex;
				justify-content: space-between;
				li{
					padding-left: 28.5px;
				}
			}
		}

		.nav__drawer-button{
			display: none;
		}
	}

	@include tablet{

		.nav__items{
			display: none;
		}
	}

	@include mobile{
		.nav__items{
			display: none;
		}

	}
}