@import '../../styles/_variables.scss';

.Overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000a6;
    z-index: 100;
}

.modal{
	$self: &;
    outline: none;
	width: 395px;
    height: 190px;
    background: $backgroundColor;
    border-radius: 3px;
    position: fixed;
    top: calc(50% - 95px);
    left: calc(50% - 197.5px);
    text-align: left;


	&__top{
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        justify-content: space-between;
        line-height: 60px;
        border-bottom: 1px solid #ececec;

        #{$self}__close{
          img{
          	width: 10px;
          	height: 10px;
          	cursor: pointer;
          }      
        }

        #{$self}__title{
        	font-size: 24px;
        }
    }

    &__center{
        padding-right: 15px;
        padding-left: 15px;
        line-height: 55px;
      }

    &__bottom{
        padding-right: 15px;
        padding-left: 15px;
        height: 70px;
        border-top: 1px solid #ececec;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        #{$self}__close_button{
        	width: 80px;
        }
      }
}