@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

.header{
	display: grid;
	position: fixed;
	background: $backgroundColor;

	&{
		max-width: 1170px;
		width: 100%;
	}

	@include xl{
		&{
			padding: 0 30px;
		}
	}

	@include desktop{
		&{
			padding: 0 30px;
		}
	}

	@include tablet{
		&{
			padding: 0 30px;
		}
	}

	@include mobile{
		&{
			padding: 0 15px;
		}
	}
}
