@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

.header{
	display: grid;
	padding: 0 30px;
	position: fixed;
	background: $backgroundColor;

	&{
		max-width: 1170px;
		width: 100%;
	}

	@include xl{
		
	}

	@include desktop{
		

	}

	@include tablet{
		
	}

	@include mobile{

	}
}
