.header{
	display: grid;
	padding: 30px;

	@media screen and (max-width: 2560px){
		&{
			width: 100%;
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (max-width: 1024px){
		&{
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (max-width: 768px){
		
	}

	@media screen and (max-width: 360px){
		
	}
}
