@import '../../styles/_variables.scss';

.container{
	max-width: $maxWidth;
	margin-top: 60px;
 
	@media screen and (max-width: 2560px){
		&{
			width: 100%;
		}
	}

	@media screen and (max-width: 1024px){
		&{
			max-width: 1024px;
			width: 100%;
		}
	}

	@media screen and (max-width: 768px){
		
	}

	@media screen and (max-width: 360px){
		
	}	
}