@import '../../styles/_variables.scss';

.container{
	display: grid;
	grid-template-areas:
	'banner'
    'about-me'
    'users'
    'register';

	.banner{
		grid-area: banner;
	}

	.about-me{
		grid-area: about-me;
	}

	.users{
		grid-area: users;
	}

	.register{
		grid-area: register;
	}

	max-width: $maxWidth;
 
	@media screen and (max-width: 2560px){
		&{
			width: 100%;
		}
	}

	@media screen and (max-width: 1024px){
		&{
			max-width: 1024px;
			width: 100%;
		}
	}

	@media screen and (max-width: 768px){
		
	}

	@media screen and (max-width: 360px){
		
	}	
}