@import '../../styles/_variables.scss';
@import '../../styles/mixins.scss';

.banner{
	color: white;
	padding: 0 30px;


	&__content{
		width: 530px;
		p{
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 35px;
		}

		h1{
			text-transform: uppercase;
			font-weight: 400;
		}
	}

	@include xl{
		&{
			height: 604px;
			background-image: url(../../assets/img/banner-photo.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: -4px 2px;
    		margin-top: 61px;
		}

		&__content{
			padding-top: 110px;
			padding-bottom: 110px;
			width: 530px;
			h1{
				font-size: 49.1px;
			    line-height: 54px;
			    margin-bottom: 25px;
			}
		}
	}

	@include desktop{
		&{
			height: 604px;
			background-image: url(../../assets/img/banner-photo.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: -4px 2px;
    		margin-top: 61px;
		}

		&__content{
			width: 530px;
			padding-top: 110px;
			padding-bottom: 110px;
			h1{
				font-size: 49.1px;
			    line-height: 54px;
			    margin-bottom: 25px;
			}
		}
	}

	@include tablet{
		&{
			height: 502px;
		    background-image: url(/static/media/banner-photo.f5443d74.jpg);
		    background-size: 1025px;
		    background-repeat: no-repeat;
		    margin-top: 58px;
		}
		
		&__content{
			padding-top: 62px;
			padding-bottom: 110px;
			width: 450px;
			h1{
				width: 400px;
				font-size: 38px;
				line-height: 44px;
				margin-bottom: 27px;
			}

			p{
				font-size: 16px;
			    line-height: 25px;
			    margin-bottom: 29px;
			}
		}
	}

	@include mobile{
		&__content{
			&{
			text-align: center;
			}

			h1{
					font-size: 30px;
					line-height: 34px;
			}
		}
		
	}
}